In [ ]:
DATABASE_PATH = '../database/abundances.db'

In [ ]:
# import pandas as pd
# import numpy as np
# from datetime import datetime, timedelta
# import random

# def generate_abundance_dataframe(N, element_list):
#     # Generate random dates and timestamps
#     start_date = datetime(2020, 1, 1)
#     random_dates = [start_date + timedelta(days=np.random.randint(0, 4)) for _ in range(N)]
#     random_timestamps = [datetime.now() + timedelta(seconds=np.random.randint(0, 86400)) for _ in range(N)]

#     # Generate random abundance values that sum to 100
#     M = len(element_list)
#     abundances = (np.round((np.random.dirichlet(np.ones(M), size=N)), 2) * 100).astype('uint8')

#     # Initialize the data dictionary with elements and their abundances
#     data = {element_list[i]: abundances[:, i] for i in range(M)}

#     # Add additional columns to the data dictionary
#     data.update({
#         'date': random_dates,
#         'timestamp': random_timestamps,
#         'lat': [round(random.uniform(-90, 90), 6) for _ in range(N)],
#         'long': [round(random.uniform(-180, 180), 6) for _ in range(N)],
#         'year': [random.randint(1970, 2024) for _ in range(N)],
#         'day': [random.randint(1, 31) for _ in range(N)],
#         'hour': [random.randint(0, 23) for _ in range(N)],
#         'min': [random.randint(0, 59) for _ in range(N)],
#         'sec': [random.randint(0, 59) for _ in range(N)]
#     })

#     # Create DataFrame and sort by date
#     df = pd.DataFrame(data)
#     df.sort_values(by=['date'], inplace=True)

#     return df

# # Example usage:

# df1 = generate_abundance_dataframe(10, element_list)
# print(df1)

# # df2 = generate_abundance_dataframe(20)

# # print(df1)
# # print(df2)

   Fe  Ti  Ca  Si  Al  Mg  Na       date                  timestamp  \
0  55   1  12   0  14  13   4 2020-01-01 2024-12-01 18:44:47.357348
1   1   4  21  25  23   4  23 2020-01-01 2024-12-01 16:04:01.357348
4  13  35   6   5  22   5  14 2020-01-01 2024-12-01 13:02:15.357348
2   7  11   6   7  21  42   6 2020-01-02 2024-12-01 00:55:53.357348
5  27   7  10  34  15   6   1 2020-01-02 2024-12-01 09:00:33.357348
8  20  13  11   1  20  23  13 2020-01-02 2024-12-01 12:48:28.357348
7   0  13   7  57  10   3  10 2020-01-03 2024-12-01 18:12:50.357348
3   8  32   8  12  34   3   3 2020-01-04 2024-12-01 06:34:15.357348
6   1  42   1   3  23   7  24 2020-01-04 2024-12-01 04:52:52.357348
9  13  22  31  15   1  15   3 2020-01-04 2024-12-01 09:15:47.357348

         lat        long  year  day  hour  min  sec
0  88.922005  174.134997  1999   20    20   49   27
1  12.623153 -105.847526  2014   22    21   54   39
4 -83.784818  -52.239097  1994   13    22   39   24
2  51.511108   36.251239  2013    6    14   21   44
5 -82.309869  140.327264  2015   30     4    6   47
8  72.732294  154.432967  1997    8     1   36   10
7 -13.121924  -72.161767  1983   13    21   15   21
3  56.846293   31.665353  2013   16     7   23   36
6 -41.592197 -158.003982  2021    2    23   47   52
9  18.747982   91.826774  1992   17    12   55   34

In [39]:
df2 = pd.read_csv('raw_data.csv')
# Rename column
df2.rename(columns={'lon': 'long'}, inplace=True)

# Ensure timestamp is in datetime format
df2['timestamp_dt'] = pd.to_datetime(df2['timestamp'])

# Extract components and create new columns
df2['year'] = df2['timestamp_dt'].dt.year
df2['day'] = df2['timestamp_dt'].dt.day
df2['hour'] = df2['timestamp_dt'].dt.hour
df2['min'] = df2['timestamp_dt'].dt.minute
df2['sec'] = df2['timestamp_dt'].dt.second

element_list = ['Fe', 'Ti', 'Ca', 'Si', 'Al', 'Mg', 'Na']
list1 = ['Fe', 'Ti', 'Ca', 'Si', 'Al', 'Mg', 'Na', 'date', 'timestamp', 'lat',
       'long', 'year', 'day', 'hour', 'min', 'sec']
df2[list1]

df1 = df2


df1.head()

,Fe,Ti,Ca,Si,Al,Mg,Na,date,timestamp,lat,long,timestamp_dt,year,day,hour,min,sec
0,5.07196,2.951850,9.68962,7.11736,5.51912,19.6812,4.96893,2019-09-14,2019-09-14 01:45:14,1.674350,107.250000,2019-09-14 01:45:14,2019,14,1,45,14
1,2.06920,0.966020,5.08626,9.13498,12.92460,19.8779,4.94108,2019-09-14,2019-09-14 18:55:39,-58.204300,-80.368925,2019-09-14 18:55:39,2019,14,18,55,39
2,1.42256,0.001341,5.12438,18.14500,5.75886,19.5795,4.96838,2019-09-14,2019-09-14 13:00:58,-64.933325,-76.602400,2019-09-14 13:00:58,2019,14,13,0,58
3,1.76636,2.008640,6.62869,1.73882,19.76320,19.4214,3.67287,2019-09-14,2019-09-14 10:35:14,16.972275,-77.953125,2019-09-14 10:35:14,2019,14,10,35,14
4,5.00000,1.000000,9.00000,20.50000,14.00000,5.0000,0.50000,2021-04-22,2021-04-22 20:18:45,-72.826750,-72.420150,2021-04-22 20:18:45,2021,22,20,18,45

In [44]:
df1.shape

(1215, 17)

In [45]:
df1.columns

Index(['Fe', 'Ti', 'Ca', 'Si', 'Al', 'Mg', 'Na', 'date', 'timestamp', 'lat',
       'long', 'timestamp_dt', 'year', 'day', 'hour', 'min', 'sec'],
      dtype='object')

In [46]:
df1

,Fe,Ti,Ca,Si,Al,Mg,Na,date,timestamp,lat,long,timestamp_dt,year,day,hour,min,sec
0,5.07196,2.951850,9.68962,7.117360,5.51912,19.6812,4.96893,2019-09-14,2019-09-14 01:45:14,1.674350,107.250000,2019-09-14 01:45:14,2019,14,1,45,14
1,2.06920,0.966020,5.08626,9.134980,12.92460,19.8779,4.94108,2019-09-14,2019-09-14 18:55:39,-58.204300,-80.368925,2019-09-14 18:55:39,2019,14,18,55,39
2,1.42256,0.001341,5.12438,18.145000,5.75886,19.5795,4.96838,2019-09-14,2019-09-14 13:00:58,-64.933325,-76.602400,2019-09-14 13:00:58,2019,14,13,0,58
3,1.76636,2.008640,6.62869,1.738820,19.76320,19.4214,3.67287,2019-09-14,2019-09-14 10:35:14,16.972275,-77.953125,2019-09-14 10:35:14,2019,14,10,35,14
4,5.00000,1.000000,9.00000,20.500000,14.00000,5.0000,0.50000,2021-04-22,2021-04-22 20:18:45,-72.826750,-72.420150,2021-04-22 20:18:45,2021,22,20,18,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1210,1.22635,0.070496,5.08768,18.944200,5.20437,19.6127,4.85421,2019-09-14,2019-09-14 10:26:18,43.707600,-78.580525,2019-09-14 10:26:18,2019,14,10,26,18
1211,1.00232,0.001281,5.30441,19.673500,5.55730,18.4617,4.99946,2019-09-14,2019-09-14 10:11:54,86.183875,-94.303600,2019-09-14 10:11:54,2019,14,10,11,54
1212,1.03625,0.053108,5.12885,18.707300,5.15628,19.9993,4.91887,2019-09-14,2019-09-14 10:28:10,38.143925,-78.411750,2019-09-14 10:28:10,2019,14,10,28,10
1213,1.17224,0.004840,5.00747,20.074800,5.13939,18.6226,4.97860,2019-09-14,2019-09-14 12:26:50,38.962350,-79.530625,2019-09-14 12:26:50,2019,14,12,26,50
1214,4.22862,19.998200,5.29888,0.993641,5.00804,14.4736,4.99907,2019-09-14,2019-09-14 09:24:02,-50.087025,101.727500,2019-09-14 09:24:02,2019,14,9,24,2

In [47]:
# Save to CSV
# df1.to_csv('raw_data.csv', index=False)

In [48]:
# df_loaded = pd.read_csv('data.csv')

In [49]:
import sqlite3



import sqlite3
import pandas as pd
from flask import jsonify

def query_db(query, params=()):
    db_path = DATABASE_PATH
    connection = sqlite3.connect(db_path)

    # Using pandas to read the query result directly into a DataFrame
    df = pd.read_sql_query(query, connection, params=params)

    connection.close()

    # Convert DataFrame to a list of dictionaries and return it
    result_list = df.to_dict(orient='records')

    return result_list

In [50]:
DATABASE_PATH

'../database/abundances.db'

In [51]:
def query_modify_df(query, params=()):
    """Helper function to execute a SQL query and return results."""
    connection = sqlite3.connect(DATABASE_PATH)
    connection.row_factory = sqlite3.Row
    cursor = connection.cursor()
    cursor.execute(query, params)
    results = cursor.fetchall()
    connection.close()
    return results

In [52]:
DATABASE_PATH

'../database/abundances.db'

In [53]:
import sqlite3



def create_database(db_path):
    """Creates an SQLite database if it doesn't exist."""
    try:
        # Establish a connection (creates the file if it doesn't exist)
        connection = sqlite3.connect(db_path)
        print(f"Database created at {db_path}")
    except sqlite3.Error as e:
        print(f"Error creating database: {e}")
    finally:
        # Close the connection after creation
        connection.close()

# Example usage
create_database(DATABASE_PATH)

Database created at ../database/abundances.db

In [54]:
LONGDF = None

In [55]:
import pandas as pd
import sqlite3



def create_abundance_table(df, element_list, overwrite=False):
    """
    Creates and populates an `abundances` table in SQLite with additional columns.

    Args:
        df (pd.DataFrame): DataFrame containing element abundance data and other columns.
        element_list (list): List of elements to extract from the DataFrame.
        overwrite (bool): If True, the table will be dropped and recreated.
    """
    # Step 1: Prepare the database and table
    if overwrite:
        query_modify_df("DROP TABLE IF EXISTS abundances;")
    
    # Create table if not exists with all required columns
    create_table_query = """
    CREATE TABLE abundances (
        element TEXT NOT NULL,
        date TEXT,
        abundance REAL NOT NULL,
        lat REAL,
        long REAL,
        year INTEGER,
        day INTEGER,
        hour INTEGER,
        min INTEGER,
        sec INTEGER
    );
    """
    query_modify_df(create_table_query)
    
    # Step 2: Transform DataFrame into a long format for SQL insertion
    long_df = pd.melt(df, id_vars=['date', 'lat', 'long', 'year', 'day', 'hour', 'min', 'sec'], 
                      value_vars=element_list, var_name='element', value_name='abundance')
    long_df['date'] = long_df['date'].astype(str) 
    
    # global LONGDF
    # LONGDF = long_df
    # Step 3: Insert data into the database
    insert_query = """
    INSERT INTO abundances (element, date, abundance, lat, long, year, day, hour, min, sec) 
    VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);
    """
    data_to_insert = long_df[['element', 'date', 'abundance', 'lat', 'long', 'year', 'day', 'hour', 'min', 'sec']].values.tolist()

    # Execute inserts in a batch
    connection = sqlite3.connect(DATABASE_PATH)
    cursor = connection.cursor()
    cursor.executemany(insert_query, data_to_insert)
    connection.commit()
    connection.close()

# Example usage:
create_abundance_table(df1, element_list, overwrite=True)

In [56]:
DATABASE_PATH

'../database/abundances.db'

In [59]:
df1.date.value_counts()

2019-09-14    1154
2021-04-22      61
Name: date, dtype: int64

In [60]:
import json
def query_db(query, params=()):
    db_path = DATABASE_PATH
    connection = sqlite3.connect(db_path)

    # Using pandas to read the query result directly into a DataFrame
    df = pd.read_sql_query(query, connection, params=params)

    connection.close()

    # Convert DataFrame to a list of dictionaries
    result_list = df.to_dict(orient='records')

    return result_list

# Example of querying the database for a specific element
element = "Si"  # Example element (replace with your query parameter)
# date = None # Example date (can be None or a valid date)
date = "2021-04-22"  # Example date (can be None or a valid date)
# date = "2020-01-02"  # Example date (can be None or a valid date)

# Build the query based on the presence of 'date'
if date:
    query = "SELECT * FROM abundances WHERE element = ? AND date = ?"
    data = (element, date)
else:
    query = "SELECT * FROM abundances WHERE element = ?"
    data = (element,)

# Get the result from the query_db function
result = query_db(query, data)

# Print the result in JSON-like format (list of dictionaries)
print(json.dumps(result, indent=4))

[
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -72.82675,
        "long": -72.42014999999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 18,
        "sec": 45
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 19.4908,
        "lat": -64.615175,
        "long": -71.44170000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 9.65612,
        "lat": -61.736275,
        "long": -71.23095,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 22,
        "sec": 21
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -88.48825,
        "long": -108.29065,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 13,
        "sec": 33
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -77.33135000000001,
        "long": -73.48910000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 17,
        "sec": 17
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -83.330725,
        "long": 118.06925,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 11,
        "sec": 1
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -62.970375,
        "long": -71.316025,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 57
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -81.712275,
        "long": 116.57175,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 10,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -76.922325,
        "long": -73.361525,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 17,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.2383,
        "lat": -61.324825,
        "long": -71.20415000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 22,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -65.84842499999999,
        "long": -71.546625,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 1
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 8.22258,
        "lat": -67.491775,
        "long": -71.704475,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 20,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -83.73432500000001,
        "long": 118.5655,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 11,
        "sec": 9
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 12.1187,
        "lat": -83.0385,
        "long": -76.85249999999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 15,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.308,
        "lat": -62.14767500000001,
        "long": -71.25855000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 22,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -80.90145,
        "long": 116.0235,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 10,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -63.792925,
        "long": -71.37684999999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 41
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 14.6677,
        "lat": -78.557725,
        "long": -73.9257,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 16,
        "sec": 53
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 1.43564,
        "lat": -87.304675,
        "long": 130.03325,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 12,
        "sec": 21
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 14.7632,
        "lat": -72.41669999999999,
        "long": -72.35017500000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 18,
        "sec": 53
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -88.93785000000001,
        "long": -67.01150000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 13,
        "sec": 9
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -82.92665,
        "long": 117.63025,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 10,
        "sec": 53
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -88.75784999999999,
        "long": -121.960675,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 13,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 11.0692,
        "lat": -80.5982,
        "long": -74.90825000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 16,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -68.313225,
        "long": -71.79197500000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 20,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -85.85552500000001,
        "long": -82.0951,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 14,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -82.52215,
        "long": 117.239,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 10,
        "sec": 45
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -62.559075,
        "long": -71.286875,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 22,
        "sec": 5
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -79.68405,
        "long": 115.36325,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 9,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -78.4657,
        "long": 114.84225,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 9,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -75.69465,
        "long": -73.022675,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 17,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 15.7445,
        "lat": -69.54485,
        "long": -71.936325,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 19,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -74.87572499999999,
        "long": -72.82725,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 18,
        "sec": 5
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -86.652875,
        "long": -84.7276,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 14,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -73.64654999999999,
        "long": -72.570725,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 18,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.0699,
        "lat": -69.1344,
        "long": -71.886325,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 19,
        "sec": 57
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -83.84830000000001,
        "long": -77.84915000000001,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 15,
        "sec": 9
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 8.83572,
        "lat": -70.36574999999999,
        "long": -72.04217499999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 19,
        "sec": 33
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -63.38165,
        "long": -71.345975,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -87.679925,
        "long": 133.62375,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 12,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -79.78267500000001,
        "long": -74.46777499999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 16,
        "sec": 29
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.2196,
        "lat": -67.081,
        "long": -71.662925,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 20,
        "sec": 37
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -65.02632499999999,
        "long": -71.47565,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 21,
        "sec": 17
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -80.090025,
        "long": 115.56575,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 9,
        "sec": 57
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -75.285225,
        "long": -72.92224999999999,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 17,
        "sec": 57
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -86.920425,
        "long": 127.38625,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 12,
        "sec": 13
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -70.77607499999999,
        "long": -72.098575,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 19,
        "sec": 25
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -74.056425,
        "long": -72.651775,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 18,
        "sec": 21
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -84.65505,
        "long": -79.153875,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 14,
        "sec": 53
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 18.3081,
        "lat": -88.160325,
        "long": -99.349225,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 13,
        "sec": 41
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -86.13659999999999,
        "long": 123.7715,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 11,
        "sec": 57
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -78.0595,
        "long": 114.692,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 9,
        "sec": 17
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -85.73997500000002,
        "long": 122.48625,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 11,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 1.27718,
        "lat": -88.9778,
        "long": 9.768249999999997,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 13,
        "sec": 1
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 1.70737,
        "lat": -84.941075,
        "long": 120.53675,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 11,
        "sec": 33
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 13.8338,
        "lat": -76.10397499999999,
        "long": -73.129075,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 17,
        "sec": 41
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -81.8199,
        "long": -75.7337,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 15,
        "sec": 49
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -78.966225,
        "long": -74.093,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 16,
        "sec": 45
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 10.1602,
        "lat": -68.723825,
        "long": -71.838225,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 20,
        "sec": 5
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -71.186325,
        "long": -72.157375,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 19,
        "sec": 17
    },
    {
        "element": "Si",
        "date": "2021-04-22",
        "abundance": 20.5,
        "lat": -80.495825,
        "long": 115.785,
        "year": 2021,
        "day": 22,
        "hour": 20,
        "min": 10,
        "sec": 5
    }
]